<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/nisekoi.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <form action="" class="container_center" method="POST">
               
                <div id="choise_wrapper">
                    <input class="input_choise" name="Opton1" placeholder="Frist Name" type="text">
                    <input class="input_choise" name="Opton2" placeholder="Last Name" type="text">
                    <input class="input_choise" name="Opton3" placeholder="Age" type="text">
                    <input class="input_choise" name="Opton4" placeholder="Email" type="text">
                    <input class="input_choise" name="Opton5" placeholder="Gender" type="text">
                    <input class="input_choise" name="Opton6" placeholder="City" type="text">
                </div>
                <button id="content_send">Send</button>
        </form>
        
    </div>
    
</body>
</html>