<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/in_form.css">
    <title>Document</title>
</head>
<body>
    <div id= "root_survey">
        <form action="" class="survey_center" method="POST">
            <h1>A survey about my client</h1>
            <div id = "write_infor">
                <input class="write_input" name="Option1" placeholder="Name">
                <input class="write_input" name="Option2" placeholder="Age">
                <input class="write_input" name="Option3" placeholder="City">
                <input class="write_input" name="Option4" placeholder="Where to buy">
                <input class="write_input" name="Option5" placeholder="Phone number">
                <input class="write_input" name="Option6" placeholder="Your feeling">
            </div>
            <button id="content_submit">Submit</button>
        </form>
    </div>
</body>
</html>